wheel
sphinx>=5.0.0
sphinx_rtd_theme>=0.5.2
sphinx-autobuild
sphinx-last-updated-by-git
myst-parser
sphinxcontrib-qthelp
# docutils needs to be pinned for now so that lists work
# See https://github.com/readthedocs/sphinx_rtd_theme/issues/1115 for more information
docutils==0.16
